{% include 'user/header.html' %}
                

            <!--About us section-->
            <div class="row">
                <div class="col-12 all-banner-page-img-1">
                    <div class="col-12 section-header services-section-header header-adjust-2">
                        <h1>
                            About Us
                        </h1>
                    </div>
                </div>
                <div class="col-12 about-great-grand-parent">
                  <div class="row about-grand-parent">
                    <div class='col-md-6 col-sm-12 about-parent-1'>
                      <div class="about-parent-1-child-1">
                        <img src="{{url_for('static',filename='images/brickswall3.jpg')}}" alt=" brick background image"
                        class="img-fluid bgimage"/>
                      <div class="overlaybg">
                      </div>
                      </div>
                      <div class="about-parent-1-child-2">
                        <img src="{{url_for('static',filename='images/newlogo1.png')}}" alt="Our logo image"/>
                      </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-12 about-parent-2">
                      <div class="about-parent-2-child">
                        <h3>
                          Our logo Started the introduction
                        </h3>
                        <p>In reference to our logo, we got all the services you may need, and professional
                          handymen to handle them. </p>
                      </div>
                      <div class="about-parent-2-child">
                          <h3>
                            We connect you with the best professionals near you
                          </h3>
                          <p>
                            We empower your space with expert handyman solutions.
                            From repairs to renovations, our skilled team delivers reliable craftsmanship,
                            ensuring your home is a haven of functionality and style.
                            Discover competent professional handyman and seamless services today.
                          </p>
                      </div>
                        
                    </div>
                  </div>

                    <div class="row about-grand-parent">
                        <div class="col-md-6 col-sm-12 about-parent-2">
                          <div class="about-parent-2-child">
                            <h3>Mission</h3>
                            <p>To provide reliable, expert handymen professionals in all services area to handle tasks 
                              professionally and effieciently to enhance homes with quality craftsmanship and customer satisfaction.</p>
                          </div>
                          <div class="about-parent-2-child">
                              <h3>Vission</h3>
                              <p>
                                 To make sure professional handymen with best services are available all the time just by a click.
                              </p>
                          </div>
                            
                        </div>
                        <div class='col-md-6 col-sm-12 about-parent-1'>
                            <div class="about-parent-1-child-1">
                            <img src="{{url_for('static',filename='images/tabletaget.jpg')}}" alt=" brick background image"
                            class="img-fluid bgimage"/>
                            </div>
                            <div class="about-parent-1-child-2 about-parent-1-child-2b">
                            <img src="{{url_for('static',filename='images/missionlogo.png')}}" alt="Our logo image"/>
                            </div>
                        </div>
           
                    </div>
                </div>
            </div>

{% include 'user/footer.html' %}