{% include 'user/header.html' %}

             <!--faq section starts here -->
            <div class="row">
                <div class="col-12 all-banner-page-img-1">
                    <div class="col-12 section-header services-section-header header-adjust">
                        <h1>
                          Faqs
                        </h1>
                     </div>
                </div>
            </div>

            <div class="row"> 
              <div class="col-12">
                <div class="accordion-header-self">
                    <h2>For Customers</h2>
                </div>
                <div class="accordion accordion-parent" id="faqsItems">

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How do I find the right handyman for my needs?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#faqsItems">
                        <div class="accordion-body">You can browse through profiles of various handymen on our platform, view their skills, experience,
                            and customer reviews, and choose the one that best fits your needs.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How do I connect with a handyman?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqsItems">
                        <div class="accordion-body">After signing up, you can directly contact handymen through our platform, 
                            based on your preferences and the services they offer.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Can I negotiate prices directly with the handyman?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#faqsItems">
                        <div class="accordion-body">Yes, all negotiations regarding pricing are done directly between you and the handyman.
                            Our platform does not interfere in these discussions.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                            Is there any cost to use the platform to find a handyman?
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#faqsItems">
                          <div class="accordion-body">Our platform is free to use for finding and 
                            connecting with handymen. You only pay the handyman directly for the services provided.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                        What if I have issues with the handyman after connecting?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#faqsItems">
                        <div class="accordion-body">While our platform does not mediate disputes, you can leave a review 
                        or feedback about your experience to help others in the community.</div>
                    </div>
                    </div>
                    
                </div>
              </div>

              <div class="col-12">
                <div class="accordion-header-self">
                    <h2>For Handymen</h2>
                </div>

                <div class="accordion accordion-parent" id="faqsItems2">

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
                            How do I get matched with customers?
                        </button>
                      </h2>
                      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#faqsItems2">
                        <div class="accordion-body">Customers choose handymen based on their profiles, skills, and reviews.
                             Make sure your profile accurately represents your abilities to attract the right customers..</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Can I set my own rates for services?
                        </button>
                      </h2>
                      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#faqsItems2">
                        <div class="accordion-body">Yes, you have full control over your pricing.
                             Customers will contact you directly, and you can discuss and negotiate rates with them.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            Does the platform handle payments or contracts?
                        </button>
                      </h2>
                      <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#faqsItems2">
                        <div class="accordion-body">No, all payments and contract details are handled directly between you and the customer.
                             Our platform simply connects you with potential clients.</div>
                      </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseThree">
                            How can I improve my visibility on the platform?
                          </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#faqsItems2">
                          <div class="accordion-body">Maintain an updated and detailed profile,
                             collect positive customer reviews, and respond promptly to inquiries to stand out to potential clients.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseThree">
                            What support does the platform offer to handymen?
                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#faqsItems2">
                        <div class="accordion-body">We provide a user-friendly interface to help you connect with customers, but all service agreements,
                             pricing, and payments are managed directly between you and the client.</div>
                    </div>
                    </div>

                </div>
              </div>
          
          </div>
               
            <!--faq section ends here -->
                   

{% include 'user/footer.html' %}