
<div class="row login-grand-parent">
    <div class="col-12 login-parent-2">
      <h3>Admin Login</h3>
    </div>
    <div class="col-md-8 offset-2 login-parent">
      <form action="/handyman/admin/validate/signup/" method="POST">
        {{form.csrf_token}}

        <div class="login-child">
            {{form.fullname(class="form-control input noround",placeholder="Fullname")}}
            {% for error in form.fullname.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>

        <div class="login-child">
            {{form.phone_no(class="form-control input noround",placeholder="Phone")}}
            {% for error in form.phone_no.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>

        <div class="login-child">
            {{form.email(class="form-control input noround",placeholder="Email")}}
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        <div class="login-child">
          {{form.username(class="form-control input noround",placeholder="Username")}}
          {% for error in form.username.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        <div class="login-child">
          {{form.password(class="form-control input noround",placeholder="Password")}}
          {% for error in form.password.errors %}
          <span>{{error}}</span>
          {% endfor %}

        </div>
        <div class="login-child">
          {{form.submit(class='btn col-12 login-butt')}}
        </div>
        
      </form>
    </div>
</div>
